<p id="notice"><%= notice %></p>

<h1>Listing Authors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Login</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name.split(' ').map {|e| e.capitalize}.join(' ') %></td>
        <td><%= author.email %></td>
        <td><%= author.login %></td>
        <td><%= link_to 'Show', author %></td>
      </tr>
    <% end %>
  </tbody>
</table>
