<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :author_id %><br>
    <%= f.text_field :author_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :category_id %>
    <select name = 'categories[id]'>
      <% @categories.each do |category| %>
      <option><%=category.type_name.capitalize%></option>
      <%end%>
    </select>
  </div>
  <div class="field">
    <%= f.label :house_id %>
    <select name = 'houses[id]'>
      <% @houses.each do |house|%>
      <option><%=house.house_name.capitalize%></option>
      <%end%>
    </select>
  </div>
  <br>
  <div class="field">
    <%= f.label :photo_path %><br>
    <%= f.text_field :photo_path %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%@article.updated_at = Time.now%>
