<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @article.category.type_name.capitalize %>
</p>

<p>
  <strong>House:</strong>
  <%= @article.house.house_name.capitalize %>
</p>

<%= markdown(@article.content) %>

<img src = '<%= @article.photo_path %>'/>

<footer>
  <strong>Updated at: <%=@article.updated_at %> by: <%=@article.author%></strong>
</footer>

<% if session[:author_id] %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% else %>
  <%= link_to'You must be logged in to edit', '/login'%>
<% end %>
<%= link_to 'Back', articles_path %>
