<!DOCTYPE html>
<html>
<head>
  <title>GoTWiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav id = 'left_menu'>
      <% if session[:author_id] %>
        <h4><%= link_to 'Log out here', '/logout'%></h4>
      <% else %>
        <h4><%= link_to'Log in here', '/login'%></h4>
      <% end %>
    <h4><a href = '/'>Home</a></h4>
    <h4><a href = '/houses'>Houses</a></h4>
      <ul class = 'menu'>
        <%@houses.each do |house|%>
          <%if house.house_name == 'not applicable'%>
          <% %>
          <% else %>
          <li><a href = '/houses/<%=house.id%>'><%=house.house_name.capitalize%></a></li>
          <%end%>
        <%end%>
      </ul>
    <h4><a href = '/categories'>Categories</a></h4>
      <ul class = 'menu'>
        <%@categories.each do |category|%>
        <li><a href = '/categories/<%=category.id%>'><%=category.type_name.capitalize%></a></li>
        <%end%>
      </ul>
    <h4><a href = '/articles'>Articles</a></h4>
  </nav>

<%= yield %>

</body>
</html>
