<p id="notice"><%= notice %></p>

<p>
  <strong>Category Type:</strong>
  <%= @category.type_name.capitalize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
